.azeret-mono-regular {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
  }

/* Banner Styles */
.banner{
    background-image: url(../assets/Hero-bg.png);
    margin-bottom: 74px;

}
.banner-content{
    padding: 44px 221px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.banner-title{
    font-weight: bolder;
    font-size: 48px;
}
.btn-primary{
    font-weight:600;
    font-size: 20px;
    color: #FFFFFF;
    background-color: #0D1321;
    padding: 21px 24px;
    border-radius: 8px;
}

/* main styles */
main{
    max-width: 1140px;
    margin: 0 auto;
}
/* shared style */
.inner-width{
    width: 946px;
}
.bottom-margin{
    margin-bottom: 32px;
}
/* why web section */
.web-dev{
    background-color: rgba(13, 19, 33, 0.02);
    padding: 80px 97px;
}

.dev-title{
    text-align: center;
}

.reason-1-content{
    height: 336px;
    padding: 48px 48px;
    background-color: white;
    background-image: url(../assets/Layer_1.png);
    background-position: right;
    background-repeat:no-repeat;
    align-items: center;
}

.reason-2-content{
    height: 336px;
    padding: 48px 48px;
    background-color: white;
    background-image: url(../assets/Group\ 3.png);
    background-position: left;
    background-repeat:no-repeat;
    align-items: center;
}
.reason-2-text{
    text-align: left;
    margin-left: 272px;
}


.reason-3-content{
    height: 336px;
    padding: 48px 48px;
    background-color: white;
    background-image: url(../assets/Group\ 4.png);
    background-position: right;
    background-repeat:no-repeat;
    align-items: center;
}

.btn-learn-more{
    font-weight: 600;
    font-size: 20px;
    background-color: white;
    padding: 12px 20px 12px 20px;
}

/* My inspiration styles */
.my-inspiration-content{
    margin-top: 88px;
    text-align: center;
}
.my-inspiration iframe {
    margin-top: 48px;
    width: 100%; 
    height: 550px; 
    border-radius: 16px;
}

/* My current target */
.curTarget-text-content{
    margin-top: 149px;
    text-align: center;
    margin-bottom: 48px;
}

.learn-title{
    color: #0D1321;
}

.skills{
    display: flex;
    justify-content: space-around;
    margin-bottom: 111px;
}
.skills-content1{
    width: 264px;
    height: 300px;
    border-radius: 16px;
    background-color: #e7c4c9;
    padding: 40px;
}

.skills-content2{
    width: 264px;
    height: 300px;
    border-radius: 16px;
    background-color: #cac3ec;
    padding: 40px;
}

.skills-content3{
    width: 264px;
    height: 300px;
    border-radius: 16px;
    background-color: #e4eeb7;
    padding: 40px;
}


.img-skills{
    width: 56px;
    height: 56px;
    margin-bottom: 24px;
}
.skill-title{
    font-size: 24px;
    font-weight: bolder;
    margin-bottom: 8px;
}
.skill-description{
    font-size: 16px;
    font-weight:400;
    margin-bottom: 24px;
}

/* My support form */
.support-form{
    background-image: url(../assets/handshake.jpg);
    height: 314px;
    border-radius: 16px;
}

.support-texts{
    padding: 48px 64px;
    text-align: center;
    color: white;
}

.input-textfield{
    width: 548px; 
    height: 57px; 
    padding: 0px 19px;
    font-size: 16px; 
    border-radius: 8px;
    border: none;
}

.btn-submit{
    margin-left: 20px;
    font-size: 20px;
    font-weight: 600;
    width: 120px;
    height: 58px;
    border-radius: 8px;
    border: none;
}

.form {
    
    display: flex;
    flex-direction:row; 
    align-items: center;
    justify-content: center; 

  }

/* footer */

.foot-sec{
    background-color: #f6f1f1;
}
.footer{
    margin-top: 80px;
    max-width: 1140px;
    display: flex;
    align-items: center;
}
.statement{
    margin-left: 900px;
    font-size: 20px;
    font-weight: 600;
}

.icons{
    margin-left: 850px;
    display: flex;
    justify-content: space-evenly;
}
.icon-image {
    height: 50px;

}
